* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Chivo', sans-serif;
}

main {
    background-color: #121725;
    padding-top: 6.875rem;
    padding-bottom: 6.875rem;
    min-height: 100vh;
}

.hero {
    position: relative;
    background-image: url(./assets/desktop/image-host.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
    height: 40rem;
    
}

.brand {
    position: absolute;
    top: -5%;
    margin-left: 10.125rem;
}

.content {
    background-color: #121725;
    position: absolute;
    width: 50%;
    bottom: 0;
    margin-left: 10.125rem;
    padding-top: 6.25rem;
}

.heading {
    font-size: 3.25rem;
    font-weight: 400;
    line-height: 3.875rem;
    text-transform: uppercase;
    color: #54E6AF;
    padding-bottom: 2.5rem;
}

.heading span {
    color: #FFF;
}

.intro {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #C2CBE5;
    max-width: 27.5rem;
    display: inline-block;
    margin-bottom: 2.8rem;
}

form {
    width: 27.5rem;
    position: relative;
}

input {
    width: 100%;
    border-radius: 1.75rem;
    background-color: #2C344B;
    height: 3.5rem;
    color: hsla(0, 0%, 100%, 50%);
    border: none;
    /* margin-top: 2.8rem;
    margin-bottom: 3.75rem; */
    padding-left: 2.2rem;
    font-weight: 700;   
}

input:focus {
    color: hsl(0, 0%, 100%);
}

button {
    position: absolute;
    right: 1.1%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 1.75rem;
    height: 2.95rem;
    width: 33%;
    border: none;
    background-color: #54E6AF;
    color: #121725;
    text-transform: capitalize;
    font-weight: 700;
}

button:hover {
    background-color: #B3FFE2;
}

#message {
    color: #FB3E3E;
    font-weight: 700;
    font-size: 0.75rem;
    margin-left: 2.2rem;
    margin-top: 0.5rem;
    display: inline-block;  
}

.social-trust {
    margin-top: 3.75rem;
}

.social-trust img:not(:last-of-type) {
    margin-right: 2.5rem;
}

.pattern {
    position: absolute;
    bottom: -9%;
    right: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
    main {
        height: 100vh;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 5%;
    }

    .hero {
        height: 75%;
        background-image: url(./assets/tablet/image-host.jpg);
    }

    .content {
        width: 90%;
        padding-top: 4.25rem;
        margin-left: 0;
        left: 0;

    }

    .brand {
        top: 5%;
        margin-left: 0;
    }

    .pattern {
        bottom: -33%;
        left: 0;
    }
} 

@media (max-width: 767px) {

    main {
        height: 100vh;
        padding: 0;
    }
    .hero {
        display: flex;
        justify-content: center;
        background-image: url(./assets/mobile/image-host.jpg);
        height: 100%;
    }

    .content {
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        opacity: 92%;
        text-align: center;
        padding-left: 6%;
        padding-right: 6%;
    }

    .col-2 {
        order: 3;
    }

    .col-3 {
        order: 2;
    }

    .brand {
        top: 8%;
        margin: 0;
        z-index: 10;
    }

    .heading {
        font-size: 1.625rem;
        line-height: 2.375rem;
    }

    .intro {
        font-size: 0.9375rem;
        line-height: 1.5625rem;
        margin: 0;
    }

    .pattern {
        display: none;
    }

    form {
        width: auto;
        max-width: 28.125rem;
        margin: 0 auto;
    }

    input {
        height: 2.875rem;
        font-size: 0.8785rem;
    }

    button {
        position: unset;
        width: 100%;
        font-size: 0.8785rem;
        margin-top: 2.5rem;    
    }

    #message {
        margin-left: 0;
    }

    .social-trust {
        display: flex;
        max-width: 25rem;
        margin: 0 auto;
    }

    .social-trust img {
        min-width: 0;
    }

    .social-trust img:not(:last-of-type) {
        margin-right: 1.25rem;

    }
}

@media (orientation: landscape) {
    .hero {
        background-size: 67%;
    }

    .content {
        padding-top: 1.25rem;
        
    }

    .social-trust {
        display: flex;
        max-width: 32rem;
    }

    .social-trust img {
        min-width: 0;
    }
}
